/*
	© 2024 Samuel Hernandez. All rights reserved.
*/

:root {
	color-scheme: light dark;
	--light-bg: #ffffff;
	--light-color: #222222;
	--light-accent: #999999;
	--dark-bg: #222222;
	--dark-color: #dddddd;
	--dark-accent: #999999;
}

* {
	margin: 0;
	padding: 0;
	font-family: serif;
}
  
body {
	background-color: light-dark(var(--light-bg), var(--dark-bg));
}

.container {
	width: 800px;
	margin: auto;
}

.title {
	text-align: center;
	padding-top: 100px;
	padding-bottom: 50px;
}

.title h1 {
	font-size: 3em;
	color: light-dark(var(--light-color), var(--dark-color));
}

.profile-picture {
	text-align: center;
}

.profile-picture img {
	width: 300px;
	height: auto;
	margin: auto;
	border-radius: 50%;
}

.message {
	text-align: center;
	padding: 50px;
}

.message p {
	font-size: 2em;
	color: light-dark(var(--light-color), var(--dark-color));
}

.icon-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px;
	max-width: 600px;
	margin: auto;
	text-align: center;
}

.icon-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.icon-item a img {
	width: 100px;
	height: auto;
	transition: transform 0.2s ease-in-out;
}

.icon-name {
	margin-top: 10px;
	font-size: 1em;
	color: light-dark(var(--light-color), var(--dark-color));
}

.icon-item a img:hover {
	transform: scale(1.1);
}

.gallery {
	width: 100%;
}

.gallery .gallery-item {
	width: 100%;
	text-align: center;
	margin-bottom: 100px;
}

.gallery .gallery-item img {
	width: 100%;
	height: auto;
	margin-bottom: 20px;
}

.gallery .gallery-item .item-name {
	text-align: center;
	font-size: 1.5em;
	font-style: italic;
}

.header {
	margin: 20px;
}
.header .back-button {
	font-size: 1.5em;
	text-decoration: none;
	color: rgb(75, 153, 255);
}

.contact-form {
	width: 80%;
	margin: auto;
	text-align: right;
}

.contact-form h1 {
	text-align: center;
	margin: 50px auto;
	color: light-dark(var(--light-color), var(--dark-color));
}

.contact-form .form-group {
	text-align: center;
	margin: auto;
}

.contact-form .form-group .form-control {
	border: none;
	border-bottom: 1px solid light-dark(var(--light-accent), var(--dark-accent));
	padding: 20px;
	width: 85%;
	font-size: 1.5em;
	color: light-dark(var(--light-color), var(--dark-color));
	background-color: light-dark(var(--light-bg), var(--dark-bg));
}

.contact-form .send-button {
	background: none;
	border: none;
	font-size: 1.5em;
	color: rgb(75, 153, 255);
	margin-right: 50px;
}

.footer {
	margin: 100px auto 50px auto;
	text-align: center;
	font-size: 1em;
	color: light-dark(var(--light-color), var(--dark-color));
}

@media (max-width: 767px) {
	.container {
		width: 100%;
	}

	.contact-form {
		width: 100%;
	}
}

@media (max-width: 599px) {
	.icon-grid {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media (max-width: 399px) {
	.profile-picture img {
		width: 90%;
	}
	.icon-grid {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width: 269px) {
	.icon-grid {
		grid-template-columns: repeat(1, 1fr);
	}
}